[submodule "git-tutorial"]
	path = git-tutorial
	url = https://github.com/paul2Dev/learn-git.git

[submodule "opensearch-tutorial"]
	path = opensearch-tutorial
	url = https://github.com/paul2Dev/learn-opensearch-laravel-integration.git
[submodule "claude-tutorial"]
	path = claude-tutorial
	url = https://github.com/paul2Dev/learn-claude.git
[submodule "ai-harness"]
	path = ai-harness
	url = https://github.com/paul2Dev/learn-ai-harness
